<div class="col-md-12 d-flex">
  <div class="card w-100 mb-4">
    <div class="card-body">
    <div class="card-title">Retweet</div>
  retweeted by: <%= tweet.user.email %>
   body: <%= tweet.body %>
          <%= render partial: 'tweets/tweet', locals: {tweet: tweet.tweet} %>
    </div>
      <%= render partial: 'tweet_footer', locals: {tweet: tweet} %>
  </div>
</div>  