    <div class="card-footer">
      <div class="btn-group" role="group" aria-label="Basic example">
              <% if user_signed_in? && tweet.user_id != current_user.id%>
                <%= link_to 'Retweet', retweet_tweet_path(tweet), method: :post, class: "btn btn-primary" %>
              <% end %>

      </div>
    </div> 

