<p id="notice"><%= notice %></p>

<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary"%>

<h1>Tweets</h1>
    <% @tweets.each do |tweet| %>
      <%= render partial: "tweets/#{tweet.tweet_type}", locals: {tweet: tweet} %>
    <% end %>

<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary"%>
