// Primary Blues
$blue-900: #12283A;
$blue-800: #1A4971;
$blue-700: #2368A2;
$blue-600: #3183C8;
$blue-500: #63A2D8;
$blue-400: #AAD4F5;
$blue-300: #EFF8FF;

// NEUTRALS

// whites
$white: #F5F5F5;
// Blacks
$black: #292929;

// Greys

$grey1-900: #202833;
$grey1-800: #404B5A;
$grey1-700: #6E7A8A;
$grey1-600: #929FB1;
$grey1-500: #AEBECD;
$grey1-400: #CCD4DB;
$grey1-300: #D5DDE5;
$grey1-200: #E1E7EC;
$grey1-100: #F8F9FA;

// ACCENTS

// greens
$dark-900: #173632;
$green-800: #145239;
$green-700: #197741;
$green-600: #259D58;
$green-500: #38C172;
$green-400: #74D99F;
$green-300: #A8EEC1;
$green-200: #E3FCEC;

// yellows
$yellow-900: #5C4813;
$yellow-800: #8C6D1F;
$yellow-700: #CAA53D;
$yellow-600: #F4CA64;
$yellow-500: #FAE29F;
$yellow-400: #FDF3D7;
$yellow-300: #FFFCF4;

// reds
$red-900: #611818;
$red-900: #891B1B;
$red-900: #B82020;
$red-900: #DC3030;
$red-900: #E46464;
$red-900: #F5AAAA;
$red-900: #FCE8E8;
