<%= div_for object do %>
    <div class="card spacing-xl" style="width: 100%">
      <div class="card-body">
        <%= object.body %>
        created 
        <%= local_time_ago object.created_at %>
        by <%= object.user.name.full %>
      </div>
    </div>
<% end %>
