<div class="container">
  <h2>Add a New post for thread</h2>
 <%= render partial: "forum_posts/form" %>
  <div class="row">
  <div class="text-center"><h2 class="card-title text-center"><%= @forum_thread.subject %></h2></div>
  <div class="col-md-12"> 
        <% @forum_thread.forum_posts.each do |forum_post| %>
          <%= render 'forum_post', object: forum_post %>
        <% end %>
  </div>
  </div>
</div>